* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo_text {
  font-size: var(--size-10);
  font-style: italic;
}

.logo {
  margin-right: var(--size-2);
}

.main {
  margin: var(--size-8) auto;
}

.main .h1 {
  text-align: center;
}

.wishlist {
  display: grid;
  margin-top: var(--size-4);
  grid-template-columns: auto;
  padding: var(--size-4);
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  justify-content: center;
}

.logo {
  margin-right: var(--size-2);
}

.icon_badge .btn .badge {
  height: var(--size-5);
  width: var(--size-5);
  top: -20%;
  right: 0;
}
/* footer */
#footer {
  background-color: var(--gray-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
  color: var(--gray-800);
}

.footer_social {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
}

.footer_social > * {
  margin-left: var(--size-3);
}

.footer_social > *:hover {
  color: var(--alert-primary);
}

@media only screen and (min-width: 30rem) {
  .wishlist {
    grid-template-columns: auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 10px;
  }
}

@media only screen and (min-width: 49rem) {
  .navbar_links .material-icons {
    font-size: var(--size-8);
  }

  .navbar_links {
    width: 15%;
    justify-content: space-around;
  }

  .wishlist {
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 10px;
  }

  .wishlist .action_buttons {
    width: 65%;
  }
}
